body {
  margin: 0;
  font-family: "Montserrat", sans-serif;
  background-color: #000;
}

header {
  margin-top: 3em;
  text-align: center;
  color: white;
}

header h1 {
  font-size: 2em;
  font-weight: 900;
}

#container3D {
  width: 600px;  /* Set desired width */
  height: 400px; /* Set desired height */
  border: 1px solid black; /* Just for visualization */
  overflow: hidden;

   margin: auto;
  width: 50%;
  border: 3px double red;
  
}